#container {
	margin: 0px auto;
	width: 1045px;
}
#textContainer{
	margin: 100px auto;
	width: 900px;
}
#pattern{
	float: left;
	margin: 0 0 5px;
	padding: 5px;
	width: 371px;
	height: 200px;
	font: 1em/1.5 Verdana, Sans-Serif;
	background: #fff;
	border: 1px solid #f9f9f9;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
#keyboard {
	margin: 0;
	padding: 0;
	float: left;
	list-style: none;
}
#keyboard li {
	float: left;
	margin: 0 5px 5px 0;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	background: #fff;
	border: 1px solid #a8abab;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
.capslock, .tab, .left-shift {
	clear: left;
}
#keyboard .tab {
	width: 70px;
}
#keyboard .capslock {
	width: 80px;
}
#keyboard .enter {
	width: 77px;
}
#keyboard .enter-top {
	width: 40px;
}

#keyboard .left-shift {
	width: 95px;
}
#keyboard .right-shift {
	width: 109px;
}
#keyboard .ctrl {
	width: 75px;
}
#keyboard .ctrl-left {
	clear: left;
	width: 75px;
}
#keyboard .windows{
	width: 50px;
}
#keyboard .alt{
	width: 50px;
}
#keyboard .space {
	width: 288px;
}
.lastitem {
	margin-right: 0;
}
.uppercase {
	text-transform: uppercase;
}

.on {
	display: none;
}
.special {
	display: none;
}
#keyboard .keyPress {
	background-color: 	#CD2C2C;
	position: relative;
	top: 1px;
	left: 1px;
	border-color: #e5e5e5;
	cursor: default;
}
#arrow .keyPress {
	background-color: 	#CD2C2C;
	position: relative;
	top: 1px;
	left: 1px;
	border-color: #e5e5e5;
	cursor: default;
}
#keyboard li:hover {
	position: relative;
	top: 1px;
	left: 1px;
	background-color: 	#CD5C5C;
	border-color: #e5e5e5;
	cursor: default;
}
/**ARROW **/
#arrow li:hover {
	position: relative;
	top: 1px;
	left: 1px;
	background-color: 	#CD5C5C;
	border-color: #e5e5e5;
	cursor: default;
}
#arrow {
	margin: 0;
	padding: 0;
	float: left;
	width: 145px;
	list-style: none;
}
#arrow li {
	float: left;
	margin: 0 5px 5px 0;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	background: #fff;
	border: 1px solid #a8abab;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}


#arrow .up {
	margin-top: 135px;
	margin-left: 55px;
}
#arrow .left {
	clear: left;
	margin-left: 10px;
}
#arrow .down {
	
}
#arrow .right {
	
}
/** NUMLOCK **/

#numlock {
	margin: 0;
	padding: 0;
	float: left;
	width: 185;
	list-style: none;
}
#numlock li {
	float: left;
	margin: 0 5px 5px 0;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	background: #fff;
	border: 1px solid #a8abab;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

#numlock li:hover {
	background-color: 	#CD5C5C;
	border-color: #e5e5e5;
	cursor: default;
}
.num{
	position:left;
}
#Numpad7 {
	clear: left;
}
#Numpad4 {
	clear: left;
}
#Numpad1 {
	clear: left;
}
#Numpad0 {
	clear: left;
}
#NumpadAdd {
	position:absolute;
	margin-left:135px !important;
	margin-top:45px !important;
}
#NumpadEnter{
	position:absolute;
	margin-left:135px !important;
	margin-top:135px !important;
}

#numlock .keyPress {
	background-color: 	#CD2C2C;	
}
#ActionBox {
 position:absolute;
	margin-left: -15px !important;
	margin-top:-30px !important;	
}


