* {
    margin: 0;
    padding: 0;
    outline: none;
}

body{
	background-color:#ffffff;
}

footer{
	color:#ffffff !important;
	position: fixed;
	right: 0;
	bottom: 0;
	left: 0;
	width:100%;
	padding-top:8px;
	background-color: #efefef;
	text-align: center;
	background: #7db9e8; /* Old browsers */
	background: -moz-linear-gradient(top,  #7db9e8 0%, #2989d8 53%, #207cca 73%, #207cca 73%, #1e5799 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #7db9e8 0%,#2989d8 53%,#207cca 73%,#207cca 73%,#1e5799 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #7db9e8 0%,#2989d8 53%,#207cca 73%,#207cca 73%,#1e5799 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#1e5799',GradientType=0 ); /* IE6-9 */
}

label{
	margin-bottom: 0px !important;
    font-weight: normal !important;
	margin-left:5px;
}

header{
	width:100%;
	height:55px;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7db9e8+0,2989d8+53,207cca+73,207cca+73,1e5799+100 */
	background: #7db9e8; /* Old browsers */
	background: -moz-linear-gradient(top,  #7db9e8 0%, #2989d8 53%, #207cca 73%, #207cca 73%, #1e5799 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #7db9e8 0%,#2989d8 53%,#207cca 73%,#207cca 73%,#1e5799 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #7db9e8 0%,#2989d8 53%,#207cca 73%,#207cca 73%,#1e5799 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#1e5799',GradientType=0 ); /* IE6-9 */
}

textarea {
	background-image: url("../images/notepad2.png");
	width:100%;
	height:100%;
	resize: none;
	padding-top: 25px;
	padding-left:55px;
	padding-right:35px;
	border:0px;
}

.footer_score{
	width:40px;	
	margin-top:-30px;
	float: right;
}

.header_visited {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3090da+0,206fb0+53,1b66a7+73,1b66a7+73,1b4d87+100 */
	background: #3090da; /* Old browsers */
	background: -moz-linear-gradient(top,  #3090da 0%, #206fb0 53%, #1b66a7 73%, #1b66a7 73%, #1b4d87 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #3090da 0%,#206fb0 53%,#1b66a7 73%,#1b66a7 73%,#1b4d87 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #3090da 0%,#206fb0 53%,#1b66a7 73%,#1b66a7 73%,#1b4d87 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3090da', endColorstr='#1b4d87',GradientType=0 ); /* IE6-9 */
}

nav,
nav ul,
nav li, nav a {
	list-style: none;
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 18px;
	font-family: "Arial Black", Gadget, sans-serif;
}
nav {
    width:800px;
    margin-left:0px;
    height:60px;
}
nav ul {
    zoom: 1;
    text-align:center;
    list-style: none;
    position: relative;
    display: block;
}
nav ul:before {
    content: '';
    display: block;
}
nav ul:after {
    content: '';
    display: block;
    clear: both;
}
nav a,
nav a:link,
nav a:visited {
    padding-bottom: 15px;
    padding-top: 15px;
    padding-left: 30px;
    padding-right: 30px;
    display: block;
    text-decoration: none;
    color:#ffffff;
}
nav a:hover {
    color: #dddddd;
}

nav li {
    float: left;
}

#text_predlohy {
	height:150px;
	width:445px;
	font-size:30px;
	font-family:"Comic Sans MS", cursive, sans-serif;
	line-height:24px;
}

.text_predlohy_pismena {
	padding-top:50px !important;
	padding-left:170px !important;
	font-size:60px !important;
}


#text_zositu {
	height:150px;
	width:435px;
	font-size:30px;
	font-family:"Comic Sans MS", cursive, sans-serif;
	line-height:24px;
}

#klavesnica {
	margin-top:0px;
}

#moznosti_knihy {
	margin-top:-80px;
	margin-left:120px;
}

#kniha{
	cursor:hand;
}

#napoveda{
	z-index:50;
	position: absolute; 
	margin-top:-65px;
	margin-left:300px;
}
  
.checkbox{
	margin-bottom:0px !important;
}

.margin-top-30{
	margin-top:30px;
}

.margin-bottom-30{
	margin-bottom:30px;
}

.nopadding {
   padding: 0 !important;
}

.nomargin-bottom {
   margin-bottom: 0 !important;
}

.bottom-10 {
	margin-bottom:10px;
}

.padding-10 {
	padding:10px;
}

.padding-30 {
	padding:30px;
}

.padding-top-20{
	padding-top:20px;
}

.padding-left-20 {
	padding-left:20px;
}

.no-padding-left {
	padding-left:0px !important;
}

.center {
    text-align:center;
}

.center form {
    display:inline-block;
}

.login_form_div {
	width:200px;
	margin:auto;
	height:300px;
	margin-top:100px;
}

.bubble 
{
	position: relative;
	width: 280px;
	height: 50px;
	background: #FFFFFF;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border: #000000 solid 1px;
	padding:15px 10px 10px 10px;
	text-align:center;
	vertical-align: middle;
	margin-left:100px;
	margin-top:-60px;
}

.bubble:after 
{
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 15px 15px 15px 0;
	border-color: transparent #FFFFFF;
	display: block;
	width: 0;
	z-index: 1;
	left: -15px;
	top: 11px;
}

.bubble:before 
{
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 16px 16px 16px 0;
	border-color: transparent #000000;
	display: block;
	width: 0;
	z-index: 0;
	left: -17px;
	top: 10px;
}
